html {
    scroll-behavior: smooth;
}

body {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    background-color: rgba(13, 17, 23, 255);
    color: #b8c6ce;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    line-height: 1.6;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #4c8eda;
    margin-bottom: 20px;
}

h1, h2, h3 {
    margin: 10px 0;
}
