html {
    scroll-behavior: smooth;
}

body {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    background-color: rgba(13, 17, 23, 255);
    color: #b8c6ce;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    line-height: 1.6;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #4c8eda;
    margin-bottom: 20px;
}

h1, h2, h3 {
    margin: 10px 0;
}

:root {
    --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4c8eda, 0 0 40px #4c8eda, 0 0 50px #4c8eda, 0 0 60px #4c8eda, 0 0 70px #4c8eda;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4c8eda, 0 0 40px #4c8eda, 0 0 50px #4c8eda, 0 0 60px #4c8eda, 0 0 70px #4c8eda, 0 0 80px #4c8eda;
    }
  }
